body{
	font-family:cursive;
    }

#I{ 
	box-shadow: 0 0 10px;
	margin: 20px auto;
	padding: 20px;
	text-align: center;
	width: 80x;
    }

#love{
	text-align: center;
	text-indent: 20px;
}

#TaylorSwift{
	text-indent: center;
	text-align: justify;

}
